#overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
#main{
   background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
   -webkit-background-clip: text;
   color: transparent;
   font-family:"Bebas Neue", fantasy;
   font-size: 7vw;

}
.links{
  font-size: 3vw;
}
#name{

}
span{
  position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-family: 'Times New Roman',serif;
   letter-spacing: 5px;
   font-size: 6vw;
   font-weight: bold;
   background-image: linear-gradient(
    	to right,
    	#462523 0,
      #cb9b51 22%,
    	#f6e27a 45%,
    	#f6f2c0 50%,
    	#f6e27a 55%,
    	#cb9b51 78%,
    	#462523 100%
    	);
   color:transparent;
   -webkit-background-clip:text;
}
