#banner {
    float: left;
    background: black;
    width: 100%;
}

#name {
    color: white;
}
#tabs {
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 6px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#tabs li {
    list-style: none;
    display: inline;
}